:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/* start header */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 60px;
}

.header .links .icon {
    font-size: 30px;
    color: #333;
}

.links {
    position: relative;
}

.links ul {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    background-color: #f6f6f6;
    border-radius: 8px;
    display: none;
    z-index: 1;
}

.links:hover ul {
    display: block;
}

.links ul::before {
    content: '';
    position: absolute;
    border: 15px solid;
    border-color: transparent transparent #f6f6f6 transparent;
    top: -28px;
    right: 5px;
}

.links ul li a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: var(--main-color);
    transition: .3s;
    font-weight: 600;
}

.links ul li a:hover {
    transform: translateX(8px);
}

.links ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
} 
/* end header */

/* start landing  */
.landing {
    background: url(/images/R.jpeg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}
/* end landing  */

/* start features */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--main-color);
    font-size: 50px;
}

.features .feat h3 {
    font-weight: 800;
    margin: 20px 0;
}

.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

/* end features */

/* start special heading  */
.special-heading {
    text-align: center;
    font-weight: 800;
    margin: 0;
    color: #ebeced;
    font-size: 100px;
    letter-spacing: 3px;
}

.special-heading+p {
    margin: -20px 0 0;
    font-size: 20px;
    text-align: center;
    color: #777;
}
/* end special heading  */

/* start services */
.services {
    padding: 60px 0;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 100px 0 0;
    gap: 30px;
}

.services-content .serv {
    display: flex;
    margin: 0 0 40px;
}

@media (max-width:767px) {
    .services-content .serv {
        flex-direction: column;
        text-align: center;
    }

}

.serv i {
    color: var(--main-color);
    flex-basis: 60px;
    font-size: 40px;
}

.serv .text {
    flex: 1;
}

.serv .text h3 {
    margin: 0 0 20px;
}

.serv .text p {
    color: #777;
    font-weight: 300;
    line-height: 1.6;
}

.col .image {
    text-align: center;
    position: relative;
}

.services .services-content .image::before {
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
    border-radius: 5px;
}

.services .services-content .image img {
    width: 260px;
    border-radius: 5px;
}

@media (max-width:1199px) {
    .col .image {
        display: none;
    }
}
/* end services  */

/* start protofolio */
.portfolio {
    background-color: #f6f6f6;
    padding: 60px 0 60px;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin: 80px 0 0;
}

.portfolio-content .card {
    background-color: white;
}

.portfolio-content .card img {
    max-width: 100%;
}

.portfolio-content .card h2 {
    padding: 0 20px;
    font-size: 20px;
}

.portfolio-content .card p {
    color: #777;
    line-height: 1.6;
    padding: 0 20px;
}
/* end protfolio */

/* stat about */
.about {
    padding: 60px 0 120px;
}

.about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width:991px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width:991px) {
    .about-content .image {
        margin: 0 auto 60px;
    }
}

.about-content .image::before {
    content: '';
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about-content .image::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    top: -40px;
    right: -150px;
    z-index: -1;
}

@media (max-width:991px) {

    .about-content .image::before,
    .about-content .image::after {
        display: none;
    }
}

.about-content .image img {
    max-width: 100%;
}

.about-content .text {
    flex-basis: calc(100% - 500px);
}

.about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about-content .text hr {
    border-color: var(--main-color);
    width: 50%;
    display: inline-block;

}

.about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

/* end about */

/* start contact */
.contact {
    background-color: #f6f6f6;
    padding: 60px 0 60px;
}

.contact .info {
    padding: 60px 0;
    text-align: center;
}

.contact .info .label {
    font-size: 30px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info .link {
    display: block;
    font-size: 35px;
    text-decoration: none;
    font-weight: 800;
    color: var(--main-color);
    margin-bottom: 15px;
}

.contact .info .social {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}

@media (max-width:767px) {

    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}
/* end contact */

/* start footer */
.footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 30px 10px;
    font-size: 18px;
}

.footer span {
    color: var(--main-color);
    font-weight: 600;
}
/* end footer */
/* end project :) */